body {
  color: #595959;
}

p {
  font-size: 2em;
}

.title {
  color: #ff0000;
  font-size: 3em;
  margin: 1em 0;
}

.sub-title {
  color: #ff0000;
}

.dexId {
  font-size: 2.5em;
  margin: 1em 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

/* ---------- ICONS ---------- */

.icon {
  color: #ff0000;
  cursor: pointer;
}

.hearts {
  margin: 3em 0;
}

.hidden-ability {
  margin-left: 10px;
}

/* ---------- NAVBAR ---------- */

.navbar {
  background: red;

  .navbar-brand {
    font-size: 4em;
    color: #fff;
  }

  .nav-link {
    color: #fff;
    font-size: 2em;
  }
}

/* ---------- CARD ---------- */

.card {
  border-radius: 15px;
  border: solid 0.3em #ff0000;
  cursor: pointer;

  .card-title {
    color: #ff0000;
    font-size: 3em;
    text-align: center;
  }

  .card-text {
    justify-content: start;
  }

  .card-image {
    padding: 1.5em;
    width: 350px;
    height: 350px;
  }
}

/* ---------- DETAILS PAGE ---------- */

.block {
  display: block;
}

.image-stats {
  img {
    width: 100%;
  }
}

.details-card {
  width: 30%;
}

/* ---------- STATS ---------- */

.stats-container {
  .stats-progress-bar {
    height: 2em;
    border-radius: 20px;

    .stat-row {
      align-items: center;
    }
  }
}

/* ---------- PAGINATION ---------- */

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;

  .page-item {
    .page-link {
      color: #ff0000;
      border-color: #ff0000;

      &:hover {
        background-color: #ff0000;
        color: #fff;
        border-color: #ff0000;
      }
    }
  }
}
